@import './card.less';
@borderRadius:5px;
@blueColor:rgba(0,200,251,1);
@strongColor:#7b7b7b;
@fadeColor:#bbbbbb;
@contentColor:#000;
.card-pic{
    position: relative;
    display: block;
    height: calc(100vw * 0.4266666666667);
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        height: 100%;
        width: 100%;
        background: rgba(1,9,14,0.1)    
    }

}