#R-cavansContainer{
    width: 100%;margin: 0 auto;text-align: center;position: relative;
}
body{
    margin: 0;
}
.R-canvas-line0{
    position: absolute;left: 10px;width: 100%;border: 1px dashed rgba(255,255,255,0.5);
}
.R-canvas-line2{
    position: absolute;left: 10px;width: 100%;;border: 1px dashed rgba(255,255,255,0.5);
}
.R-canvas-line1{
    position: absolute;left: 10px;width: 100%;
    border-left: 1px dashed rgba(255,255,255,0.5);
    border-right: 1px dashed rgba(255,255,255,0.5);
}
.R-canvas-linex{
    position: absolute;left: 10px;width: 100%;
    border-left: 1px dashed rgba(255,255,255,0.5);
    border-right: 1px dashed rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
#whiteboard1{
    background: url("../images/backboard.png") center center no-repeat;
    background-size: cover;
    position: absolute;top: 0;left: 0;
    width: 70px;height: 26px;
    font-size: 12px;color: #00c8fb;text-align: center;line-height: 22px;
    border-radius: 2px;
}
#Rcircle{
    width: 26px;height: 26px;border-radius: 13px;background-color: rgba(255,255,255,0.4);
    position: absolute;top: 55px;left: 245px;
}
#R-innerCircle{
    width: 16px;height: 16px;border-radius: 8px;background-color:rgba(255,255,255,1) ;margin: 5px auto;
}
